extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Orders')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th ID
          th Status
          th Seller
          th Buyer
          th Item
          th Created
          th Modified
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/order/edit?id=#{row.id}')= row.id
            td=row.status
            td
              a(href='/seller/detail?id=#{row.SellerId}')= row.Seller.name
            td
              a(href='/buyer/detail?id=#{row.BuyerId}')= row.Buyer.name
            td= row.Item.title
            td= new Date(row.createdAt).toDateString()
            td= new Date(row.updatedAt).toDateString()
      +tableFooter(page,count)
