doctype xml
sitemapindex(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  sitemap
    loc #{base}/sitemap_static.xml.gz
    lastmod=now
  sitemap
    loc #{base}/sitemap_shows_1.xml.gz
    lastmod=now
  sitemap
    loc #{base}/sitemap_episodes_1.xml.gz
    lastmod=now